.mainContainer {
  min-width: 240px;
  width: 100%;
  max-width: 340px;
  color: var(--text-primary);
}

.dropdownIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dropdownIcon svg {
  width: 100%;
  height: 100%;
}

.dropdownIcon svg path {
  fill: var(--dark-d50);
}

.loadingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  min-height: 30px;
  color: #9999b3;
}

.option {
  display: flex;
  gap: 4px;
  align-items: center;
}

.tagOption {
  padding: 2px 6px;
  border-radius: 4px;
}

.multiOptionValue {
  background-color: var(--neutral-arch-50);
  padding: 2px 6px;
  border-radius: 4px;
}

.userOption,
.userOptionValue {
  padding: 0 6px 0 0;
  border-radius: 10240px;
}

.option .label.selectedLabel {
  color: var(--theme-blue);
}

.option .profileImg,
.option .initials {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.option .initials {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-arch-50);
}

.option .icon,
.selectedIcon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option .icon svg {
  width: 100%;
  height: 100%;
}

.selectedIcon svg {
  width: 65%;
  height: 65%;
}
.option .icon svg path,
.selectedIcon svg path {
  fill: var(--p-p90);
}

.selectedIcon {
  margin-left: auto;
}

.option .labelContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.option .info {
  color: var(--text-secondary);
}

.clearIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.clearIcon svg path {
  fill: var(--dark-d50);
}

.removeIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.removeIcon svg,
.clearIcon svg {
  width: 100%;
  height: 100%;
}

.removeIcon svg path {
  fill: var(--p-p90);
}

.mainContainer .errorMsg {
  color: var(--status-error);
  margin-top: 4px;
  display: block;
}
