.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageBoxes {
  display: flex;
  gap: 6px;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

.arrowIcon > path {
  fill: var(--dark-d50);
}

.pageBox {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid var(--dark-d10);
  background: var(--neutral-white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  cursor: pointer;
}

.pageBox:hover {
  border-color: var(--dark-d30);
}

.pageBox[data-selected] {
  border-color: var(--p-p50);
  color: var(--text-primary);
}

/* limit component */

.limitBox {
  color: var(--text-secondary);
  display: flex;
  gap: 7px;
  align-items: center;
}

.limitContent {
  border-radius: 8px;
  background: var(--neutral-white);
  min-width: 63px;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: var(--text-primary);
}

.limitItem {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--stroke-border);
  padding: 6px 12px;
}

.limitItem:hover {
  background-color: var(--fill-selection);
  cursor: pointer;
}

.limitTrigger {
  min-width: 54px;
  max-width: fit-content;
  height: 36px;

  border-radius: 3px;
  border: 1px solid var(--neutral-arch-100);
  background: var(--neutral-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 1px 2px 1px 6px;
  color: var(--text-secondary);
}

.chevdownIcon {
  width: 20px;
  height: 20px;
}

.chevdownIcon > path {
  fill: var(--neutral-arch-600);
}

.pos {
  --z-index: 10 !important;
  box-shadow: #00000029 0 1px 4px;
  border-radius: 8px;
  background-color: white;
}

.paginationMenu {
  border-radius: 4px;
  border: 1px solid var(--stroke-border);
  background: var(--neutral-white);

  box-shadow:
    0px 4px 16px 0px rgba(18, 18, 18, 0.04),
    0px 2px 8px 0px rgba(18, 18, 18, 0.08);
  --z-index: 4 !important;
}

.limitContent:focus-visible {
  outline: none;
}

/* meta */

.meta {
  color: var(--text-secondary);
}
