.inputContainer {
  margin-bottom: 20px;
}

.inputContainer.adapt {
  width: 100%;
}

.inputContainer.sm {
  width: 20.8rem;
}

.inputContainer.md {
  width: 27.7rem;
}

.inputLabel {
  font-weight: 400;
  font-size: 1.08rem;
  line-height: 1.54rem;
  color: var(--primary);
  margin-bottom: 4px;
}

.inputLabel.required::after {
  content: '*';
  color: var(--danger);
  margin-left: 2px;
}

.inputGroup {
  display: flex;
  position: relative;
  border-radius: 4px;
}

.inputWrapper {
  width: 100%;
  height: 100%;
}

.input,
.textarea {
  font-weight: 400;
  font-size: 1.23rem;
  line-height: 1.85rem;
  color: var(--primary);
  width: 100%;

  border: 1px solid var(--slate-300);
  border-radius: 4px;

  outline: none;
  transition: all 0.3s ease-in-out;

  padding: 6px 12px;
  min-height: 2.8rem;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--hint);
}

.input:focus,
.textarea:focus {
  border: 1px solid var(--iris);
}

.input.error {
  border-color: var(--danger);
  caret-color: var(--danger);
}

.input:disabled {
  background-color: var(--slate-50);
  pointer-events: none;
  cursor: not-allowed;
}

.input {
  height: 100%;
}

.input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

.errorMsg {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.54rem;
  color: var(--danger);
  margin: 0;
}

.inputElement {
  position: absolute;
  top: 0;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.inputElement.left {
  left: 0;
}

.inputElement.right {
  right: 0;
}

.inputAddon {
  width: auto;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--slate-100);
  border-top: 1px solid var(--slate-300);
  border-bottom: 1px solid var(--slate-300);
  padding: 6px 12px;
  position: relative;
}

.inputAddon.left {
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: 1px solid var(--slate-300);
}

.inputAddon.right {
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid var(--slate-300);
}

@media screen and (max-width: 300px) {
  .inputContainer {
    width: 100% !important;
  }
}
