.box {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  background: #fff;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 4;
  flex-wrap: wrap;
  gap: 12px;
}

.texts {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.heading {
  color: var(--text-secondary);
  white-space: nowrap;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.search {
  min-width: 180px;
  max-width: 300px;
  flex-grow: 1;
}

.actionCommon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  height: 28px;
  padding: 6px;
  border-radius: 8px;
  background: var(--fill-selection);
  border: 1px solid var(--stroke-selection);
}

.actionCommon:hover {
  background-color: var(--p-p10);
}

.filterBtn {
  color: var(--text-primary);
  font-size: 14px;
  padding: 6px 12px 6px 8px;
  line-height: 24px; /* 171.429% */
  width: auto;
}

@media (max-width: 992px) {
  .actions {
    width: 100%;
    justify-content: flex-start;
    margin-top: 8px;
  }

  .search {
    min-width: 160px;
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .box {
    padding: 10px;
  }

  .texts {
    width: 100%;
    flex-wrap: wrap;
    gap: 12px;
  }

  .actions {
    gap: 8px;
    margin-top: 10px;
  }

  .search {
    min-width: 140px;
    flex-grow: 1;
    order: -1;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .box {
    padding: 8px;
    gap: 2px;
  }

  .actions {
    width: 100%;
  }

  .actionCommon {
    height: 32px;
  }

  .actionLabelText {
    display: none;
  }

  .priorityAction {
    flex-shrink: 0;
  }
}
