.box {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  background: #fff;
  padding-left: 12px;
  padding-right: 12px;
  position: sticky;
  top: 0;
  z-index: 4;
}

.texts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.heading {
  color: var(--text-secondary);
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.actionCommon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  height: 28px;
  padding: 6px;
  border-radius: 8px;
  background: var(--fill-selection);
  border: 1px solid var(--stroke-selection);
}

.actionCommon:hover {
  background-color: var(--p-p10);
}

.filterBtn {
  color: var(--text-primary);
  font-size: 14px;
  padding: 6px 12px 6px 8px;
  line-height: 24px; /* 171.429% */
  width: auto;
}

.dateIcon {
  width: 16px;
  height: 16px;
}

.dateContentContainer {
  gap: 8px;
}