/* button styles */
.btn {
  width: auto;
  overflow: visible;
  font: inherit;
  border: none;
  line-height: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 16px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.btn:focus-visible {
  outline: none;
}

.btn.disabled {
  opacity: 0.5;
}

.btn.disabled:hover {
  cursor: not-allowed;
}

.btnSm {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 32px;
}

.btnAdapt {
  width: 100%;
}

.btnXs {
  color: var(--theme-blue);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 6px 12px;
  height: fit-content;
}

.btn:hover {
  cursor: pointer;
}

.btnPrimary {
  background-color: var(--theme-blue);
  color: white;
}

.btnPrimary:hover {
  background-color: var(--theme-blue-dark);
}

.btnSecondary {
  background-color: var(--neutral-arch-30);
  color: var(--text-primary);
}

.btnSecondary:hover {
  background-color: var(--neutral-arch-70);
}

.btnGhost {
  background-color: var(--neutral-arch-20);
  color: var(--theme-blue);
  border: 1px solid var(--theme-blue);
}

.btnGhost:hover {
  background-color: var(--neutral-arch-30);
}

.btnDanger {
  color: white;
  background-color: var(--status-danger);
}

.btnLink {
  background: none;
  color: var(--theme-blue);
}

.btnMinimal {
  border: 1px solid var(--neutral-arch-300);
  background: var(--neutral-white);
  color: var(--text-primary);
}

.btnMinimal:hover {
  background: var(--neutral-arch-100);
}

/* Menu Button styles  */

.btnGrp {
  display: flex;
  align-items: center;
  height: 40px;
}

.btnMenu {
  border-radius: 8px 0 0 8px;
  padding-right: 8px;
  border-right: none !important;
}

.btnMenuSingle {
  border-radius: 8px;
}

.btnAddon {
  border-radius: 0 8px 8px 0;
  padding: 0 8px;
}

.btnAddonPrimary {
  border-left: 1px solid white;
}

/* todo ask design team */
.btnAddonSecondary {
  border-left: 1px solid #dfe5f9;
}

.btnAddonGhost {
  border-left: 1px solid #dfe5f9;
}

.btnImgPrimary {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(188deg) brightness(109%) contrast(111%);
}

.btnImgSecondary {
  filter: invert(33%) sepia(18%) saturate(1079%) hue-rotate(201deg) brightness(92%) contrast(85%);
}

.btnImgGhost {
  filter: invert(27%) sepia(98%) saturate(3567%) hue-rotate(225deg) brightness(86%) contrast(99%);
}

.btnImgSm {
  width: 20px;
  height: 20px;
}

.menus {
  z-index: 10;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  min-width: 200px;
}

.menus:focus-visible {
  outline: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 10px;
  color: var(--text-primary);
  border-radius: 6px;
  font-size: 1.07692rem;
  line-height: 1.53846rem;
}

.menu:hover {
  background: var(--neutral-arch-100);
  cursor: pointer;
}

.menu.menuDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.menu:hover.menuDisabled {
  background: none;
}

.menuIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.menuIcon > g > path,
.menuIcon > path {
  fill: var(--neutral-arch-800);
}

.customTrigger {
  border-radius: 8px;
}

.customTrigger:focus-visible {
  outline: none;
}

.customTrigger:hover {
  background-color: var(--neutral-arch-100);
}

.customTriggerActive {
  background-color: var(--neutral-arch-30) !important;
}

/* Actions Dropdown Styles */

.actionsBoxRegular {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
}

.actionsBoxRegular:hover {
  cursor: pointer;
}

.actionsBoxSmall {
  width: 36px;
  height: 26px;
}

.actionsDropdownSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.actionsDropdown {
  width: 24px;
  height: 24px;
}

.actionsDropdown > path {
  fill: var(--neutral-arch-600);
}

.actionsDropdownSpan:hover > .actionsDropdown > path {
  fill: var(--text-secondary);
}

.actionsDropdownSpan > .actionsDropdown.actionsDropdownActive > path {
  fill: var(--theme-blue);
}

.chevronDown > g > path {
  fill: white;
}
