/* button styles */
.btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 16px;
  height: 40px;
  border-radius: 6px;
  background-color: var(--iris);
  color: white;
}

.btn.btnSecondary {
  background-color: var(--slate-20);
  color: var(--primary);
}

.btn.btnGhost {
  background-color: var(--iris-5);
  color: var(--iris);
  border: 1px solid var(--iris);
}

/* Menu Button styles  */

.btnGrp {
  display: flex;
  align-items: center;
  height: 40px;
}

.btnMenu {
  border-radius: 6px 0 0 6px;
  padding-right: 8px;
}
.btnAddon {
  border-left: 1px solid white;
  border-radius: 0 6px 6px 0;
  padding: 0 8px;
}

.btnImg {
  filter: invert(100%) sepia(1%) saturate(7478%) hue-rotate(16deg) brightness(107%) contrast(100%);
}

.btnImgSecondary {
  filter: invert(100%) sepia(1%) saturate(7478%) hue-rotate(16deg) brightness(107%) contrast(100%);
}

.btnImgGhost {
  filter: invert(100%) sepia(1%) saturate(7478%) hue-rotate(16deg) brightness(107%) contrast(100%);
}
