.selectedActions {
  display: flex;
  align-items: center;

  gap: 15px;
}

.actionsBtnIconSpan {
  width: 16px;
  height: 16px;
}

.btnIcon {
  width: 16px;
  height: 16px;
}

.selectedIcon {
  width: 20px;
  height: 20px;
}

.btnIcon g {
  clip-path: context-box;
}

.btnIcon > path,
.btnIcon > g > path {
  fill: var(--theme-blue);
}
