.sortList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.sort {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  padding: 4px 6px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
  list-style: none;
}

.dragHandle {
  display: flex;

  padding: 2px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
}

.dragHandle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dragHandle:focus-visible {
  box-shadow: 0 0px 0px 2px #4c9ffe;
}
