.root {
  width: 100%;
}

.control {
  width: 100%;
  max-width: 270px;
}

.trigger {
  border-radius: 4px;
  border: 1px solid var(--stroke-border);
  background: var(--surface-default);
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 36px;
  width: 100%;
}

.svg {
  width: 20px;
  height: 20px;
}

.svg path {
  fill: var(--text-tertiary);
}

.swatch {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 100%;
}

.positioner {
  --z-index: 20 !important;
}

.content {
  border: 1px solid var(--stroke-border);
  border-radius: 4px;
  background-color: var(--surface-default);
  padding: 12px 0;
}

.swatchGroup {
  max-width: 220px;
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.swatchSingle {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  transform: scale(1);
  transition: transform 100ms;
  cursor: pointer;
}

.swatchSingle:hover {
  transform: scale(1.1);
}
