.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--surface-default);
}

.tabBar {
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--action-border);
}

.tab {
  padding: 5px 12px;
  cursor: pointer;
  color: var(--text-secondary);
  transition: color 0.3s;
  text-align: center;
  height: 38px;
  border: none;
  outline: none;
  background-color: var(--surface-default);
  position: relative;
}

.tab:hover {
  color: var(--text-primary);
}

.tab.activeTab {
  color: var(--action-text);
}

.tab.activeTab::before {
  content: '';
  color: var(--action-text);
  margin-bottom: -1px;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--action-primary);
}

.tabContent {
  height: 100%;
}
