.columnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorSection {
  @apply .columnCenter;
  min-height: 100dvh;
  justify-content: space-between;
  max-width: 1064px;
  margin: auto;
  color: var(--black);
  padding: 116px 0 40px;
}

.errorContainer {
  @apply .columnCenter;
  gap: 40px;
}

.errorContainer .logo {
  height: 48px;
}

.errorContainer .errorImage {
  height: 182px;
}

.errorContainer .content {
  @apply .columnCenter;
  gap: 12px;
}

.errorContainer .action {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.errorContainer .content .info {
  text-align: center;
}

.errorContainer .error {
  color: var(--status-error-e50);
}
