.taskCardHeader {
  display: grid;
  grid-template-columns: 2.5fr 5.5fr 3fr 1fr;
  gap: 16px;
  padding: 8px 24px;
  align-items: flex-start;

  color: var(--text-secondary);

  border-bottom: 1px solid var(--stroke-tabs-sections);
  border-radius: 10px 10px 0 0;
  background: var(--fill-highlight);
}
