.optionLabel {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-left: 16px;
}

.optionLabel:hover {
  cursor: pointer;
}

.optionLabel > [data-part='control'] {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid var(--slate-200);
  background-color: white;
}

.optionLabel > [data-part='control'][data-state='checked'] {
  border-color: var(--iris);
  background-color: var(--iris);
  background-image: url('../../assets/check.svg');
  background-position: center;
  background-size: 12px;
  background-repeat: no-repeat;
}
