.actionCommon {
  display: flex;
  width: 40px;
  height: 36px;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--neutral-arch-30);
  cursor: pointer;
  gap: 8px;
}

.actionCommon svg > g > path,
.actionCommon svg > path {
  fill: var(--neutral-arch-900);
}

.filterBtn {
  color: var(--text-primary);
  font-size: 14px;
  padding: 6px 12px 6px 8px;
  line-height: 24px; /* 171.429% */
  width: auto;
}
