.filterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  color: var(--text-primary);
  width: auto;

  height: 28px;
  padding: 4px 10px 4px 6px;
  border-radius: 8px;
  background: var(--fill-selection);
  border: 1px solid var(--stroke-selection);
}

.filterBtn:hover {
  background-color: var(--p-p10);
}
.content {
  padding: 0 !important;
}

.filterBox {
  display: flex;
  width: 100%;
  height: 100%;
}

.filters {
  border-right: 1px solid var(--stroke-border);
  background: var(--neutral-white);
  width: 200px;
  flex-shrink: 0;
  padding-top: 8px;
}

.chevronRightSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  display: none;
}

.chevronRight {
  width: 16px;
  height: 16px;
}

.filter {
  padding: 8px 16px;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter.active {
  background: var(--fill-selection);
  position: relative;
  color: var(--text-primary);
  font-weight: 600;
}

.filter.active .chevronRightSpan {
  display: inline-block;
}

.filter:not(.active) {
  cursor: pointer;
}

.filter.active::before {
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--p-p50);
  width: 4px;
}

.filterSingle {
  flex-grow: 1;
  padding: 16px 8px 10px 8px;
  /* 41px => drawer header, 49px => drawer footer, 10px to make it look better */
  max-height: calc(100dvh - 90px);
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
}

/* filter options */

.option {
  border-radius: 8px;
  min-height: 36px;
  display: flex;
  align-items: center;
  padding: 8px;

  &:hover {
    background: var(--fill-highlight);
  }
}

/* filter search */
.dropdownSearch {
  position: sticky;
  top: -16px;
  margin-bottom: 16px;
  padding-top: 16px;
  background-color: white;
  margin-top: -16px;
}

.totalSelected {
  border-radius: 3px;
  background: var(--p-p90);
  color: var(--neutral-white);
  padding: 0 3px;
}

.filterIcon {
  width: 16px;
  height: 16px;
}
