.breadcrumb {
  display: flex;
  position: relative;
}

.pageSection {
  display: flex;
}

.page {
  display: inline-flex;
  padding: 0px 4px;
  align-items: center;
  gap: 8px;
  color: var(--text-secondary);
  cursor: default;
  font-size: 14px;
  cursor: pointer;
}

.divider {
  display: inline-flex;
  align-items: center;
}

.page:hover {
  border-radius: 2px;
  background: var(--fill-selection);
  color: var(--link-hover);
}

.activePage {
  color: var(--dark-d90);
}

.dots {
  color: var(--text-secondary);
  cursor: default;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
}

.focused {
  border: 1px solid var(--p-p50);
  border-radius: 2px;
}
