.selectContainer {
  width: 100%;
}

.selectContainer .errorMsg {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.54rem;
  color: #de350b;
  margin: 0;
  text-align: left;
}

.multiLabelContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.optionContainer .profileImg,
.multiLabelContainer .profileImg,
.singleValueContainer .profileImg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}

.singleValueContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.optionContainer .label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.optionContainer .subLabel {
  font-weight: 400;
  font-size: 0.92rem;
  line-height: 1.54rem;
  color: var(--text-secondary);
}

.closeSpan,
.downArrowSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(76%) sepia(5%) saturate(209%) hue-rotate(210deg) brightness(95%) contrast(89%);
  width: 20px;
  height: 20px;
}

.closeSpan svg,
.downArrowSpan svg {
  width: 100%;
  height: 100%;
}
