.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: calc(100vh - 400px);
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  white-space: pre-line;
  word-wrap: break-word;
}
