.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.3;
  z-index: 1400;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1440;
  overflow: hidden;
}

.contentWrapper {
  width: 100%;
  /* took a random number of 1.75, might have to change it later according to preferences */
  /* max-height: calc(100vh - (1.75rem * 2)); */
  background-color: var(--neutral-white);
  /* overflow-x: hidden; */
  border-radius: 4px;
}

.contentWrapper.sm {
  width: 400px;
}

.contentWrapper.md {
  width: 600px;
}

.contentWrapper.fullScreen {
  width: 100vh;
  height: 100vh;
}
.contentWrapper .content {
  position: relative;
  width: 100%;
  max-height: 100%;
  /* overflow-y: auto; */
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 20px;
  background-color: var(--neutral-white);

  color: var(--text-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.showBorder {
  border-bottom: 1px solid var(--neutral-arch-300);
}

.closeIconSpan {
  filter: invert(76%) sepia(11%) saturate(92%) hue-rotate(210deg) brightness(91%) contrast(95%);
  cursor: pointer;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.closeIcon > path {
  fill: var(--neutral-arch-600);
}

.body {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  overflow-y: scroll;
  padding-block: 0;
  max-height: 70vh;
  color: var(--text-primary);
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding: 20px;
  background-color: var(--neutral-white);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.showBorder {
  border-top: 1px solid var(--neutral-arch-300);
}

.btnsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.buttonLabel{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

@media screen and (max-width: 400px) {
  .contentWrapper {
    width: 100% !important;
  }
}
