.box {
  display: flex;
  height: 26px;
  align-items: center;
  gap: 1px;

  height: 28px;
}

.selector {
  display: flex;
  height: 26px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;

  background: var(--slate-10);
  box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.1);

  color: var(--hint);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.selector:hover {
  cursor: pointer;
}

.active {
  background-color: var(--iris-10);
  color: var(--iris);
  font-size: 600;
}
