.taskCardContainer {
  overflow-x: auto;
}

.taskCard {
  border: 1px solid var(--stroke-tabs-sections);
  border-radius: 10px;
  width: 100%;
  min-width: 1064px;
}

/* .taskCardPaginated {
  border-radius: 10px 10px 0 0;
} */

.emptyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  height: 164px;
}
.emptyTxt {
  color: var(--text-primary);
}

.emptyIcon path {
  fill: var(--p-p50);
}

/* pagination */

.pagination {
  padding: 14px 12px;
}
