.taskCardContainer {
  overflow-x: auto;
}

.taskCard {
  border: 1px solid var(--stroke-tabs-sections);
  border-radius: 10px;
  width: 100%;
  min-width: 1064px;
}

.emptyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 1064px;
  gap: 8;
  height: 144px;
  border-radius: 8px;
  background: var(--fill-highlight);
}
.emptyTxt {
  color: var(--text-secondary);
}

.emptyIcon {
  width: 48px;
  height: 48px;
}

/* pagination */

.pagination {
  padding: 14px 12px;
}
