:root {
  --base-font-size: 16px !important;
  /* default */
  --black: #000000;

  /* svg filters */
  --filter-slate-600: invert(65%) sepia(29%) saturate(182%) hue-rotate(202deg) brightness(91%)
    contrast(93%);

  /* * text colors */
  --text-primary: #000041;
  --text-secondary: #66668d;
  --text-hint: #a3a3be;

  /* * neutral colors */
  --neutral-white: #ffffff;
  --neutral-arch-10: #fafafb;
  --neutral-arch-20: #f7f8fd;
  --neutral-arch-30: #f2f5fd;
  --neutral-arch-40: #f5f5f7;
  --neutral-arch-50: #f0f0f4;
  --neutral-arch-70: #eef1fc;
  --neutral-arch-100: #eaeefb;
  --neutral-arch-200: #ebebf0;
  --neutral-arch-300: #e6e6ec;
  --neutral-arch-400: #b6c3f2;
  --neutral-arch-500: #abbbf0;
  --neutral-arch-600: #9d9db6;
  --neutral-arch-700: #97aaed;
  --neutral-arch-800: #79799b;
  --neutral-arch-900: #616189;

  /* * theme colors */
  --theme-blue: #254dda;
  --theme-blue-gradient: linear-gradient(180deg, #6d88e6 0%, #5877e2 100%);
  --theme-blue-dark: #2145c5;
  --theme-royal-blue-tint: #4e6ee1;

  /* *status colors */
  --status-danger: #de350b;
  --status-error: #e74c3c;
  --status-error-10: #fef4f3;
  --status-warning: #f39c12;
  --status-warning-10: #fef9f1;
  --status-success: #36b37e;
  --status-success-10: #f3faf7;
  --status-info: #3498db;
  --status-info-10: #f3f9fd;

  /* *disabled colors */
  --disabled-50: #f9f9f9;
  --disabled-100: #efefef;
  --disabled-500: #999999;

  /* *accent colors */
  --accent-aqua: #beffda;
  --accent-azure: #b8d3f0;
  --accent-blossom: #dd7eaa;
  --accent-citrus: #fba468;
  --accent-cream: #ffede1;
  --accent-dune: #ebe1b9;
  --accent-fern: #7ecaa0;
  --accent-lagoon: #52c4c4;
  --accent-meadow: #c1d985;
  --accent-mint: #d5eadc;
  --accent-olive: #babdab;
  --accent-orchid: #d6a3f1;
  --accent-petal: #eaa8b8;
  --accent-sky: #92a7ed;
  --accent-tangerine: #ffc576;
  --accent-tidal: #a5d6dc;
  --accent-twilight: #8883c9;
  --accent-wave: #52a7e0;
  --accent-wisteria: #e2cbf7;
  --accent-zest: #f4f5ad;

  /* NEW VARIABLES */
  /* Colors */
  --p-p25: #a8b8f0; /* --p-p20 new */
  --p-p65: #1e3eae; /* --p-p60 new */
  --stroke-border: #e5e9fb;

  /* Primary colors */
  --p-p10: #d3dbf8;
  --p-p20: #a8bbf0;
  --p-p30: #7c94e9;
  --p-p40: #5171e1;
  --p-p50: #254dda;
  --p-p60: #1e34ae;
  --p-p70: #162e83;
  --p-p80: #0f1f57;
  --p-p90: #070f2c;

  /* Gray scale */
  --dark-d10: #e1e1e2;
  --dark-d20: #c3c3c4;
  --dark-d30: #a6a6a7;
  --dark-d40: #888889;
  --dark-d50: #6a6a6c;
  --dark-d60: #555556;
  --dark-d70: #404041;
  --dark-d80: #2a2a2b;
  --dark-d90: #151516;

  /* Status colors */
  --status-success-s10: #d7f0e5;
  --status-success-s20: #afe1cb;
  --status-success-s30: #86d1b2;
  --status-success-s40: #5ec298;
  --status-success-s50: #36b37e;
  --status-success-s60: #28bf85;
  --status-success-s70: #206b4c;
  --status-success-s80: #164832;
  --status-success-s90: #082419;

  --status-error-e10: #fadbd8;
  --status-error-e20: #f5b7b1;
  --status-error-e30: #f1948a;
  --status-error-e40: #ec7063;
  --status-error-e50: #e74c3c;
  --status-error-e60: #d98830;
  --status-error-e70: #8b2e24;
  --status-error-e80: #5c1e18;
  --status-error-e90: #2f0f0c;

  --status-warning-w10: #fdebd0;
  --status-warning-w20: #fad7a0;
  --status-warning-w30: #f5b041;
  --status-warning-w40: #f39c12;
  --status-warning-w50: #c27d0e;
  --status-warning-w60: #925e0b;
  --status-warning-w70: #613d07;
  --status-warning-w80: #311f04;

  --status-info-i10: #d6eaf8;
  --status-info-i20: #aed6f1;
  --status-info-i30: #85c1e9;
  --status-info-i40: #5dade2;
  --status-info-i50: #3498db;
  --status-info-i60: #2a7aaf;
  --status-info-i70: #1f5b83;
  --status-info-i80: #153d56;
  --status-info-i90: #0a1e2c;

  /* Text colors */
  --text-primary: #000041;
  --text-secondary: #66668d;
  --text-tertiary: #ffffff;

  /* Fill colors */
  --fill-highlight-only: #fbfbfe;
  --fill-selection-only: #f6f8fe;

  /* Border colors */
  --stroke-tabs-sections: #e5e9fb;
  --stroke-buttons-input: #d3dbf8;

  /* Link colors */
  --link-rest: #0072fe;
  --link-hover: #0074d6;

  /* Infographic colors */
  --graph-1: #489cff;
  --graph-2: #14cdc3;
  --graph-3: #ffd500;
  --graph-4: #87c8ff;
  --graph-5: #5c81a0;

  /* border radius */
  --borderfull: 10240px;
}

.zap-subheading-semibold {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.zap-caption-medium {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 145.455% */
}
