:root {
  /* default */
  --black: #000000;

  /* svg filters */
  --filter-slate-600: invert(65%) sepia(29%) saturate(182%) hue-rotate(202deg) brightness(91%)
    contrast(93%);

  /* * text colors */
  --text-primary: #000041;
  --text-secondary: #555580;
  --text-hint: #a3a3be;

  /* * neutral colors */
  --neutral-white: #ffffff;
  --neutral-arch-10: #fafafb;
  --neutral-arch-20: #f7f8fd;
  --neutral-arch-30: #f2f5fd;
  --neutral-arch-40: #f5f5f7;
  --neutral-arch-50: #f0f0f4;
  --neutral-arch-70: #eef1fc;
  --neutral-arch-100: #eaeefb;
  --neutral-arch-200: #ebebf0;
  --neutral-arch-300: #e6e6ec;
  --neutral-arch-400: #b6c3f2;
  --neutral-arch-500: #abbbf0;
  --neutral-arch-600: #9d9db6;
  --neutral-arch-700: #97aaed;
  --neutral-arch-800: #79799b;
  --neutral-arch-900: #616189;

  /* * theme colors */
  --theme-blue: #254dda;
  --theme-blue-gradient: linear-gradient(180deg, #6d88e6 0%, #5877e2 100%);
  --theme-blue-dark: #2145c5;
  --theme-royal-blue-tint: #4e6ee1;

  /* *status colors */
  --status-danger: #de350b;
  --status-error: #e74c3c;
  --status-error-10: #fef4f3;
  --status-warning: #f39c12;
  --status-warning-10: #fef9f1;
  --status-success: #36b37e;
  --status-success-10: #f3faf7;
  --status-info: #3498db;
  --status-info-10: #f3f9fd;

  /* *disabled colors */
  --disabled-50: #f9f9f9;
  --disabled-100: #efefef;
  --disabled-500: #999999;

  /* *accent colors */
  --accent-aqua: #beffda;
  --accent-azure: #b8d3f0;
  --accent-blossom: #dd7eaa;
  --accent-citrus: #fba468;
  --accent-cream: #ffede1;
  --accent-dune: #ebe1b9;
  --accent-fern: #7ecaa0;
  --accent-lagoon: #52c4c4;
  --accent-meadow: #c1d985;
  --accent-mint: #d5eadc;
  --accent-olive: #babdab;
  --accent-orchid: #d6a3f1;
  --accent-petal: #eaa8b8;
  --accent-sky: #92a7ed;
  --accent-tangerine: #ffc576;
  --accent-tidal: #a5d6dc;
  --accent-twilight: #8883c9;
  --accent-wave: #52a7e0;
  --accent-wisteria: #e2cbf7;
  --accent-zest: #f4f5ad;

  /* NEW VARIABLES */
  /* primary */
  --p-p10: #d3dbf8;
  --p-p70: #162e83;
  --p-p90: #070f2c;

  --gray-d10: #e1e1e2;
  --gray-d70: #404041;

  --status-success-g10: #d7f0e5;
  --status-success-g70: #206b4c;
  --status-warning-w10: #fdebd0;
  --status-warning-w70: #925e0b;
  --status-error-e10: #fadbd8;
  --status-error-e70: #8b2e24;
  --status-info-i70: #1f5b83;
  --status-info-i10: #d6eaf8;
}
