:root {
  --text-primary: #171718;
  --text-secondary: #37373d;
  --text-tertiary: #8e8e8e;

  --primary: #171718;
  --secondary: #767676;
  --iris: #6c5bd2;
  --iris-5: #f8f7fd;
  --iris-10: #f0effb;
  /* hover */
  --iris-60: #503bc9;

  /* brand */
  --lemon: #fffa80;
  --lavender: #bfb4fe;

  /* grays */
  --slate-10: #f9f9f9;
  --slate-20: #f7f7f7;
  --slate-50: #f5f5f8;
  --slate-100: #f0eff4;
  --slate-200: #ebe9f1;
  --slate-300: #e2e0eb;
  --slate-600: #b3b2b8;
  --slate-700: #434053;
  --slate-800: #2e2b40;

  --hint: #939393;

  --blue-10: #cbd5e0;
  --blue-20: #e2e8f0;

  --orange-10: #e78a75;
  --orange-20: #e06c52;

  /* default */
  --black: #000000;
  --white: #ffffff;

  /* states */
  --danger: #de350b;
  --success: #36b37e;
  --warning: #ff8b00;

  /* svg filters */
  --filter-slate-600: invert(79%) sepia(7%) saturate(161%) hue-rotate(210deg) brightness(92%)
    contrast(85%);
}
