.card {
  display: grid;
  grid-template-columns: 2.5fr 5.5fr 3fr 1fr;
  gap: 16px;
  padding: 24px;
  align-items: center;
  border-bottom: 1px solid var(--stroke-tabs-sections);
}

.card:hover {
  background-color: var(--fill-selection);
}

.taskSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
}

.taskName {
  color: var(--text-primary);
}

.dateAndTime {
  color: var(--text-secondary);
  margin-bottom: 12px;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
}

.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.detailKey {
  color: var(--text-secondary);
}

.detailValue {
  color: var(--text-primary);
}

.detailValueNA {
  color: var(--text-secondary);
}

.actionSection {
  display: none;
}

.card:hover .actionSection {
  display: flex;
  justify-content: end;
}
