.card {
  display: grid;
  grid-template-columns: 2.5fr 5.5fr 3fr 1fr;
  gap: 16px;
  padding: 24px;
  align-items: center;
}

.card:not(:last-of-type) {
  border-bottom: 1px solid var(--stroke-tabs-sections);
}

.card:hover {
  background-color: var(--fill-selection);
}

.taskSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
}

.taskName {
  color: var(--text-primary);
}

.dateAndTime {
  color: var(--text-secondary);
  margin-bottom: 12px;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
}

.detail {
  display: grid;
  grid-template-columns: 2.5fr 9.5fr;
  align-items: start;
  gap: 8px;
  align-self: stretch;
}

.detailKey {
  color: var(--text-secondary);
}

.detailValue {
  color: var(--text-primary);
  word-wrap: break-word;
  max-width: 85%;
}

.detailValueNA {
  color: var(--text-secondary);
}

.actionSection {
  display: flex;
  justify-content: end;
  visibility: hidden;
}

.card:hover .actionSection {
  display: flex;
  justify-content: end;
  visibility: visible;
}

.detailValueAttachments {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.detailValueAttachment{
  display: flex;
  gap: 4px;
  align-items: center;
}

.attachmentName {
  color: var(--link-rest);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.attachmentName:hover {
  text-decoration: none;
}
