.sortList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: unset;
}

.sort {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  padding: 4px 6px;
  background-color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  border-radius: 6px;
  list-style: none;
}

.sortHidden {
  display: none;
}

.dragHandle {
  display: flex;

  padding: 2px 1px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  margin-right: -10px;
}

.dragHandle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dragHandle:focus-visible {
  box-shadow: 0 0px 0px 2px #4c9ffe;
}

.info {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 600;
  line-height: 180%;
  height: 36px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 6px;
  padding-left: 5px;
}
