.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  color: var(--text-primary);
}

.checkbox.disabled {
  cursor: not-allowed;
}

.checkbox .checkboxInput {
  display: none;
}

.checkbox .checkboxBox {
  width: 1.143em;
  height: 1.143em;
  border-radius: 4px;
  border: 1px solid var(--neutral-arch-100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.checkbox .checkboxBox.error {
  border: 1px solid var(--status-danger) !important;
}

.checkbox .checkboxBox.disabled {
  background: var(--disabled-50);
  border: 0;
  pointer-events: none;
  cursor: not-allowed;
  border: 1px solid var(--stroke-buttons-input);
}
.checkbox .checkboxBox:hover {
  border: 1px solid var(--p-p30);
}

.checkbox .checkboxBox.disabled:hover {
  background: var(--disabled-50);
  pointer-events: none;
  cursor: not-allowed;
}
.checkbox .checkboxInput:checked + .checkboxBox {
  border: 1px solid var(--p-p50);
  background: var(--p-p50);
}
.checkbox .checkboxInput:checked + .checkboxBox:hover {
  border: 1px solid var(--p-p60);
  background: var(--p-p60);
}
.checkbox .checkboxInput:checked + .checkboxBox.disabled {
  opacity: .6;
  background: var(--p-p50);
  border: 0px solid var(--disabled-50);
}

.checkbox .checkboxInput + .checkboxBox::after {
  content: '';
  width: 0.75em;
  height: 0.75em;
  background-image: url(../assets/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  margin-left: 1px;
  margin-top: 1px;
}

.checkbox .checkboxInput:checked + .checkboxBox::after {
  transform: scale(1);
}
.checkbox.disabled .checkboxInput + .checkboxBox::after {
  content: '';
  width: 0.75em;
  height: 0.75em;
  background-image: url(../assets/disabled-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  margin-left: 1px;
  margin-top: 1px;
}

.checkbox.disabled .checkboxInput:checked + .checkboxBox::after {
  transform: scale(1);
}
.checkbox .checkboxBox.indeterminate::after {
  background-image: url(../assets/minus.svg);
  margin-top: 0;
}

.checkbox.disabled .checkboxBox.indeterminate::after {
  background-image: url(../assets/disabled-minus.svg);
  margin-top: 0;
}
.errorMsg {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  color: var(--status-danger);
  text-align: left;
}
