.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label {
  padding: 4px;
  max-width: fit-content;
  border-radius: 2px;
  background: var(--neutral-arch-200);
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
