.trigger {
  position: relative;
}

.timeInput input {
  cursor: pointer;
}

.triggerIcon path {
  fill: var(--theme-blue);
}

.timePopover {
  border-radius: 4px;
  background: var(--neutral-white);
  box-shadow: 0px 4px 16px 0px rgba(18, 18, 18, 0.04), 0px 2px 8px 0px rgba(18, 18, 18, 0.08);
  height: 268px;
  width: 240px;
  padding: 0;
}

.timePopover .footer {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
  border-top: 1px solid var(--stroke-border);
  padding: 8px;
}

.timePopover .timeContainer {
  display: grid;
  height: calc(100% - 45px);
  overflow: hidden;
}

.timeContainer.di {
  grid-template-columns: repeat(2, 1fr);
}

.timeContainer.tri {
  grid-template-columns: repeat(3, 1fr);
}

.timeContainer.tera {
  grid-template-columns: repeat(4, 1fr);
}

.timeContainer .list {
  list-style: none;
  padding: 0;
  overflow: scroll;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.timeContainer .list:not(:last-child) {
  border-right: 1px solid var(--stroke-border);
}

.timeContainer .list li {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  color: var(--text-primary);
}

.timeContainer .list li:hover {
  background-color: var(--stroke-tabs-sections);
  color: var(--text-primary);
}

.timeContainer .list li.selected {
  background-color: var(--theme-blue);
  color: var(--neutral-white);
}
