.Toastify__toast--success {
  color: var(--feedback-success-text);
  border-color: var(--feedback-success-text);
  background: var(--feedback-success-bg);
}

.Toastify__toast--info {
  color: var(--feedback-info-text);
  border-color: var(--feedback-info-text);
  background: var(--feedback-info-bg);
}

.Toastify__toast--warning {
  color: var(--feedback-warning-text);
  border-color: var(--feedback-warning-text);
  background: var(--feedback-warning-bg);
}

.Toastify__toast--error {
  color: var(--feedback-error-text);
  border-color: var(--feedback-error-text);
  background: var(--feedback-error-bg);
}
