.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 500px;
  /* sidebar is 60px in default state, and padding * 2 is 60px */
  width: calc(100dvw - 60px - 60px);
}

.loader {
  text-align: center;
  border-radius: 0.475rem;
  box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
  background-color: #fff;
  color: var(--text-hint);
  font-weight: 500;
  font-size: 14px;
  padding: 1rem 2rem;
}
