.actionCommon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  height: 28px;
  padding: 6px;
  border-radius: 8px;
  background: var(--fill-selection);
  border: 1px solid var(--stroke-selection);
}

.actionCommon:hover {
  background-color: var(--p-p10);
}
.actionCommon.active {
  background-color: var(--p-p10);
}

/* popover dropdown */
.options {
  width: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  /* gap: 8px; */
  border-radius: 4px;
  background: var(--neutral-white);
  color: var(--text-primary);

  /* dd_popup_sottomsheet_toast */
  box-shadow: 0px 4px 16px 0px rgba(18, 18, 18, 0.04), 0px 2px 8px 0px rgba(18, 18, 18, 0.08);
}

.option {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.option:hover {
  cursor: pointer;
  background-color: var(--fill-highlight);
}

.uploadingImg {
  height: 11px;
  width: 11px;
}

.positioner {
  --z-index: 10 !important;
  left: -25px !important;
  top: -5px !important;
}
