.label {
  display: inline-flex;
  height: 20px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: rgba(125, 125, 161, 0.1);
  color: #7d7da1;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-left: -30px;
}
