.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding-right: 20px;
}

.label {
  padding: 4px;
  max-width: fit-content;
  border-radius: 2px;
  background: rgba(125, 125, 161, 0.1);
  color: #7d7da1;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
