.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerRow {
  flex-direction: row;
  gap: 1.62rem;
}

.title {
  font-weight: 600;
  font-size: 1.23rem;
  line-height: 1.85rem;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 8px;
}

.title.textRow {
  text-align: left;
}

.desc {
  font-weight: 400;
  font-size: 1.08rem;
  line-height: 1.54rem;
  text-align: center;
  color: var(--neutral-arch-800);
}

.desc.textRow {
  text-align: left;
}

.info {
  margin-bottom: 20px;
}

.iconBox {
  width: 5.4rem;
  height: 5.4rem;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.icon {
  width: 70px;
  height: 70px;
}

.icon > path,
.icon > g > path {
  fill: var(--neutral-arch-600);
}
