.dateRangePicker {
  display: grid;
  gap: 0.5rem;
}
.dateIcon > path,
.dateIcon > g > path {
  fill: var(--neutral-arch-600);
}
.popoverContent {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--theme-blue);
  border-radius: 8px;
}
.quickRangePicker label {
  align-items: center;
}

.quickRangePicker .quickSelector {
  margin: auto;
  width: 70%;
}
.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.buttonContent .dateIconSpan {
  flex-shrink: 0;
}
.months {
  display: flex;
  gap: 1rem;
}
.month {
  gap: 1rem;
}
.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  position: relative;
}
.captionLabel {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary);
}
.nav {
  margin-top: 10px;
  z-index: 10;
}
.navButtonPrevious,
.navButtonNext {
  height: 1.75rem;
  width: 1.75rem;
  background-color: transparent;
  padding: 0;
  opacity: 0.5;
  position: absolute;
  border: 1px solid var(--theme-blue);
  border-radius: 4px;
}
.navButtonPrevious:hover,
.navButtonNext:hover {
  background-color: var(--neutral-arch-20);
  opacity: 1;
}
.navButtonNext svg > path,
.navButtonNext svg > g > path,
.navButtonPrevious svg > path,
.navButtonPrevious svg > g > path {
  fill: var(--theme-blue);
}

.navButtonPrevious {
  left: 1rem;
}
.navButtonNext {
  right: 1rem;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 16px;
}
.headRow {
  display: flex;
}
.headCell {
  font-size: 1rem;
  color: var(--text-hint);
  border-radius: 8px;
  width: 2.25rem;
  font-weight: 400;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  border-bottom: none !important;
}
.cell {
  text-align: center;
  font-size: 0.8rem;
  padding: 0;
  position: relative;
  width: 36px;
}
.cell:first-child:has([aria-selected]) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.cell:last-child:has([aria-selected]) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.cell:focus-within {
  position: relative;
  z-index: 20;
}
.day {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}
.cell:not(.daySelected) .day:hover {
  background-color: var(--neutral-arch-20);
  color: var(--text-primary);
}
.dayHighlighted {
  background-color: var(--neutral-arch-20);
  color: var(--text-primary);
}
.daySelected {
  background-color: var(--theme-blue-dark);
  border-radius: 0.5rem;
}

.daySelected:not(.dayRangeMiddle) .day {
  color: var(--neutral-white);
}

.daySelected:hover {
  background-color: var(--theme-blue-dark);
  color: var(--neutral-white);
}
.dayToday {
  background-color: var(--neutral-arch-40);
  color: var(--text-primary);
}
.dayToday:hover {
  background-color: var(--neutral-arch-40);
}
.dayToday.daySelected:not(.dayRangeMiddle) {
  background-color: var(--theme-blue-dark);
  color: var(--neutral-white);
}
.dayOutside {
  opacity: 0.5;
  color: var(--text-hint);
}
.dayDisabled {
  color: var(--disabled-500);
  opacity: 0.5;
  cursor: not-allowed;
}
.dayRangeStart.dayOutside,
.dayRangeEnd.dayOutside {
  color: var(--neutral-white);
  opacity: 1;
}
.dayRangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dayRangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.dayRangeStart.dayRangeEnd {
  border-radius: 0.5rem;
}
.dayRangeMiddle {
  background-color: var(--neutral-arch-20);
  color: var(--text-primary);
  border-radius: 0;
}
.dayRangeMiddle:hover {
  background-color: var(--neutral-arch-20);
  color: var(--text-primary);
}
.dayRangeMiddle.dayOutside {
  opacity: 1;
}
.dayHidden {
  visibility: hidden;
}
.errorMsg {
  color: var(--status-error-e50);
  display: block;
}

.formButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
}

.navContainer {
  position: absolute;
  display: flex;
  width: calc(100% - 24px);
  justify-content: space-between;
  top: 20px;
}
