.inputContainer,
.textareaContainer {
  width: 240px;
}

.input {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--p-p10);
  width: 100%;
  height: 32px;
  outline: none;
  transition: border 0.3s ease-in-out;
  color: var(--text-primary);
  background-color: var(--neutral-white);
}

.textarea {
  min-height: 60px;
  resize: vertical;
}

.input::placeholder {
  color: var(--text-tertiary);
  transition: opacity 0.1s ease;
}

.input:hover:not(:disabled):not(.invalid),
.input:focus:not(:disabled):not(.invalid) {
  border: 1px solid var(--p-p50);
}

.input:focus::placeholder {
  opacity: 0;
}

.input.invalid {
  border-color: var(--status-error-e50);
}

.input:disabled,
.textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--neutral-white);
}

.inputContainer .error,
.textareaContainer .error {
  color: var(--status-error-e50);
  display: block;
  text-align: left;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  color: var(--text-primary);
  display: flex;
  gap: 4px;
  align-items: center;
}

.label.disabled {
  opacity: 0.5;
}

.label .required {
  color: var(--status-error-e50);
}

.label .infoIconContainer {
  width: 20px;
  height: 20px;
  display: block;
}

.label .infoIconContainer .infoIcon {
  width: 100%;
  height: 100%;
}

.group {
  position: relative;
  display: flex;
  width: 240px;
}

.inputIconContainer {
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
  display: block;
  transform: translateY(-50%);
}

.inputIconContainer.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.inputIconContainer.leftIcon {
  left: 12px;
}

.inputIconContainer.rightIcon {
  right: 12px;
}

.inputIconContainer .inputIcon,
.inputIconButton .inputIcon {
  width: 100%;
  height: 100%;
}

.inputIconButton {
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
  display: block;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputIconButton.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.inputIconButton.left {
  left: 12px;
}

.inputIconButton.right {
  right: 12px;
}

.inputIconButton .inputIconWrapper {
  width: 100%;
  height: 100%;
  display: block;
}

.adornment {
  height: 32px;
  background-color: var(--stroke-tabs-sections);
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--p-p10);
  color: var(--text-primary);
  transition: border 0.3s ease-in-out;
}

.adornment.left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.adornment.right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.adornmentTrigger {
  height: 32px;
  background-color: var(--stroke-tabs-sections);
  padding: 6px 8px 6px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--p-p10);
  color: var(--text-primary);
  transition: border 0.3s ease-in-out;
  cursor: pointer;
}

.adornmentTrigger.left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.adornmentTrigger.right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.adornmentTrigger:focus-visible {
  outline: none;
}

.adornmentTrigger.disabled,
.adornment.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.dropdownIconContainer {
  width: 20px;
  height: 20px;
  display: block;
}

.dropdownIconContainer .dropdownIcon {
  width: 100%;
  height: 100%;
}

.dropdownIconContainer.isDropdownOpen {
  rotate: -180deg;
}

.dropdownSearch {
  padding: 6px 12px;
}

.loadingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  min-height: 30px;
  color: #9999b3;
}

.dropdownMenuContainer {
  background-color: var(--neutral-white);
  z-index: 1 !important;
  overflow: hidden;
  box-shadow:
    0px 4px 16px 0px rgba(18, 18, 18, 0.04),
    0px 2px 8px 0px rgba(18, 18, 18, 0.08);
  border-radius: 4px;
}

.dropdownMenuContainer .menu {
  padding: 0;
  overflow-y: scroll;
  list-style: none;
  max-height: 273px;
  color: var(--text-primary);
}

.dropdownMenuContainer .menu:focus-visible {
  outline: none;
}

.dropdownMenuContainer .menu .option {
  padding: 6px 12px;
  cursor: pointer;
}

.dropdownMenuContainer .menu .option:hover {
  background-color: var(--fill-selection);
}

.dropdownMenuContainer .menu .empty {
  padding: 6px 12px;
  text-align: center;
  color: var(--text-tertiary);
}

.countContainer {
  width: 120px;
}

.countContainer .countInputContainer {
  text-align: center;
}

.countContainer .decrementIcon,
.countContainer .incrementIcon {
  padding: 3px;
}

.numberContainer {
  width: 104px;
}

.numberContainer .decrementIcon,
.numberContainer .incrementIcon {
  right: 0;
}

.numberAdornmentContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 32px;
  width: 16px;
}

.numberAdornmentContainer .incrementBtn,
.numberAdornmentContainer .decrementBtn {
  padding: 0 2px;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--p-p10);
  border-left: none;
  background-color: var(--neutral-white);
}
.numberAdornmentContainer .incrementBtn:disabled,
.numberAdornmentContainer .decrementBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.numberAdornmentContainer .incrementBtn {
  border-top-right-radius: 4px;
  border-bottom-width: 0.5px;
}

.numberAdornmentContainer .decrementBtn {
  border-bottom-right-radius: 4px;
  border-top-width: 0.5px;
}

.incrementBtn .incrementIconContainer,
.decrementBtn .decrementIconContainer {
  width: 12px;
  height: 12px;
  display: block;
}

.incrementBtn .incrementIconContainer .incrementIcon,
.decrementBtn .decrementIconContainer .decrementIcon {
  width: 100%;
  height: 100%;
}
