/* loading styles */

.labelLoader {
  display: block;
  height: 18px;
  width: 130px;
  margin-bottom: 20px;
}

.optionsContainerLoader {
  display: flex;
  flex-direction: column;
}

.circleLoader {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50% !important;
}
.circleTextLoader {
  display: block;
  height: 18px;
  width: 100px;
  margin-bottom: 20px;
}

/* common styles */

.options {
  display: flex;
  gap: 6px;
}

/* radio group styles */

.heading {
  margin-bottom: 10px;
}

.topMargin {
  margin-top: 10px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio {
  display: flex;
  gap: 12px;
  user-select: none;
  cursor: pointer;
  align-items: center;
}

.radioLabel {
  order: 2;
  display: flex;
  flex-direction: column;
}

.headingDisabled {
  color: var(--text-tertiary);
}

.subHeading {
  color: var(--text-secondary);
}

.radioControl {
  order: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--stroke-selection);
  flex-shrink: 0;
}
.radio:hover .radioControl :not(.controlDisabled) {
  border: 1px solid var(--p-p30);
  transition: all 100ms;
}
.radioControlActive {
  border-color: var(--p-p40);
  background-color: var(--p-p40);
  position: relative;
}
.controlDisabled {
  cursor: not-allowed;
  background-color: var(--disabled-50);
  border-color: var(--disabled-50);
}
.controlDisabled:hover {
  cursor: not-allowed;
  background-color: var(--disabled-50);
  border-color: var(--disabled-50);
}

.radio:hover .radioControlActive :not(.controlDisabled) {
  border-color: var(--p-p60);
  background-color: var(--p-p60);
  position: relative;
}
.radioControlActive.radioControlActiveDisabled {
  opacity: 0.6;
}

.radioControlActive::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--neutral-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorMsg {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  color: var(--status-danger);
  text-align: left;
}

.infoIcon {
  width: 16px;
  height: 16px;
}

.infoIconSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.infoIcon > path {
  fill: var(--p-p90);
}
