.box {
  background-color: var(--white);
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  border-radius: 4px 4px 0px 0px;
  border: 1px solid var(--slate-200);
}

.meta {
  display: flex;
  align-items: center;
}

.total {
  color: var(--secondary);
  font-size: 12px;
  line-height: 16px;
  margin-inline-end: 10px;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  background: var(--slate-50);
  height: 36px;
}

.tableData {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tableBody > .tableRow {
  border: 1px solid var(--slate-200);
  border-bottom: none;
}

.tableHead > .tableRow {
  border-left: 1px solid var(--slate-200);
  border-right: 1px solid var(--slate-200);
}

.tableHeader {
  color: var(--secondary);
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.tableHead2 th:first-child {
  width: 4%;
}

.tableData {
  color: var(--primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
