.box {
  background-color: var(--white);
  width: 100%;
  border-bottom: 1px solid var(--slate-200);
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  border-radius: 4px 4px 0px 0px;
  border: 1px solid var(--slate-200);
}

.meta {
  display: flex;
  align-items: center;
}

.total {
  color: var(--secondary);
  font-size: 12px;
  line-height: 16px;
  margin-inline-end: 10px;
}

.selectorGrp {
  display: flex;
  align-items: center;
  gap: 16px;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  background: var(--slate-50);
  height: 36px;
}

.tableData {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* .tableBody {
  width: 100%;
} */

.tableBody > .tableRow {
  border: 1px solid var(--slate-200);
  border-bottom: none;
}

.tableHead > .tableRow {
  border-left: 1px solid var(--slate-200);
  border-right: 1px solid var(--slate-200);
}

.tableHeader {
  color: var(--secondary);
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-align: center;
}

/* for width for checkbox column if used */
.tableHead2 th:first-child {
  width: 4%;
}

.tableHeaderSortSpan {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.tableHeaderSortIcon {
  width: 18px;
  height: 18px;
}

.tableData {
  color: var(--primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* multi select actions */

.selectedActions {
  padding: 0 20px;
  height: 52px;
  /* flex-shrink: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid var(--slate-200);
  border-right: 1px solid var(--slate-200);
}

.selectedAction {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectedInfo {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.actionsBtnIcon {
  width: 16px;
  height: 16px;
}

.selectedIcon {
  width: 20px;
  height: 20px;
}

.actionsBtnIcon g,
.selectedIcon g {
  clip-path: context-box;
}

.actionsBtnIcon > path,
.actionsBtnIcon > g > path {
  fill: var(--slate-800);
}

.selectedIcon > path,
.selectedIcon > g > path {
  fill: var(--slate-400);
}
