.box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  padding-left: 0;
}

.item {
  color: var(--text-secondary);
  list-style-type: none;
  display: flex;
  gap: 2px;
  position: relative;
}

.item.active {
  color: var(--text-primary);
}
.item:hover:not(.active) {
  color: var(--link-hover);
}

.separator {
  margin: 0 2px;
}

.ellipsis {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;

  border-radius: 4px;
  z-index: 100;
  padding: 6px 0;
  min-width: 150px;
  list-style-type: none;
  gap: 4px;

  box-shadow: 0px 4px 16px 0px rgba(18, 18, 18, 0.04), 0px 2px 8px 0px rgba(18, 18, 18, 0.08);
}

.dropdown li {
  padding: 6px 16px;
  white-space: nowrap;
}

.item:hover .dropdown {
  display: block;
}

.link,
.link:hover {
  color: unset;
}
