.trigger {
  background: transparent;
  outline: none;
  border: none;
}

.content {
  padding: 8px 12px;
  border-radius: 4px;
  position: relative;
  background: var(--slate-800);
  color: var(--white);
}

.arrow {
  --arrow-size: 6px;
  --arrow-background: var(--slate-800);
  transition: 0.3s all ease-in-out;
}
