.actionCommon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  height: 28px;
  padding: 6px;
  border-radius: 8px;
  background: var(--fill-selection);
  border: 1px solid var(--stroke-selection);
}

.actionCommon:hover {
  background-color: var(--p-p10);
}

.error {
  margin-top: 20px;
  color: var(--text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

/* drawer */

.backdrop {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background: var(--black);
  opacity: 0.2;
  z-index: 1023;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.content {
  scrollbar-width: none;
  background-color: white;
  color: var(--text-primary);
  height: 100dvh;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease-in-out;

  position: fixed;
  top: 0;
  right: 0;
  max-width: 400px;
  width: 100%;
  height: 100dvh;
  /* background-color: transparent; */

  z-index: 1040;
  overflow-y: scroll;
}

.content [data-state='closed'] {
  width: 0px;
}

.content [data-state='open'] {
  width: 400px;
}

.title {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  background: var(--neutral-arch-10);

  position: sticky;
  top: 0;
  z-index: 1;
}

.desc {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.closeIconSpan {
  cursor: pointer;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.closeIcon > path {
  fill: var(--neutral-arch-600);
}

.title span {
  color: var(--text-primary);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.footer {
  height: 60px;
  width: 100%;
  margin-top: auto;
  padding: 0 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;

  position: sticky;
  padding-bottom: 20px;
  bottom: 0;
  background-color: white;
}

/* filter options */

.options {
  margin-top: 6px;
}

.option {
  border-radius: 6px;
  min-height: 36px;
  display: flex;
  align-items: center;
  padding: 4px 6px;

  &:hover {
    background: var(--neutral-arch-50);
  }
}

/* filter search */
.dropdownSearch {
  position: sticky;
  top: -16px;
  padding-top: 16px;
  margin-top: -16px;
  background-color: white;
  /* margin-top: -10px; */
  margin-bottom: 6px;
  z-index: 1;
}

.info,
.info2 {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 600;
  line-height: 180%;
  height: 36px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 6px;
}

.info::after,
.info2:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 50%;
  width: 270px;
  height: 1px;
  background-color: var(--neutral-arch-100);
}

.info2:after {
  width: 242px;
}

.optionLabel {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-wrap: pretty;
  color: var(--text-primary);
}

.optionLabel:hover:not(.optionDis) {
  cursor: pointer;
}

.optionDis {
  opacity: 0.5;
}

.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 2px solid var(--neutral-arch-100);
  background-color: white;
  flex-shrink: 0;
}

.checkbox[data-state='checked'] {
  border-color: var(--theme-blue);
  background-color: var(--theme-blue);
  background-image: url('../../assets/check.svg');
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
}

.draggable {
  width: 100%;
}

.optionDisabled {
  width: 360px;
  height: 36px;
  border-radius: 6px;
}

.optionDisabled:hover {
  background: var(--neutral-arch-50);
}

.grouped {
  border-bottom: 1px solid var(--text-secondary);
}
