.card {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr 2fr;
  gap: 16px;
  padding: 24px;
  align-items: center;
  border-bottom: 1px solid var(--stroke-tabs-sections);
  background: var(--fill-selection-only);
}

.taskSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
}

.taskName {
  color: var(--text-primary);

  /* Subheading-Semibold */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}

.dateAndTime {
  color: var(--text-secondary);
  /* Caption-Medium */
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 145.455% */
}

.detailsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
}

.detail {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.detailKey {
  min-width: 140px;
  color: var(--text-secondary);

  /* Sub Content-Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.2px;
}

.detailValue {
  min-width: 308px;
  color: var(--text-primary);

  /* Sub Content-Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.2px;
}

.statusPill {
  display: flex;
  padding: 0px 6px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  width: fit-content;
}

.statusIcon {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.status {
  /* caption_medium */
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 145.455% */
}

.statusPill-pending {
  background-color: var(--p-p10);
}

.statusIcon-pending {
  background-color: var(--p-p70);
}

.status-pending {
  color: var(--p-p70);
}
