/* button styles */
.btn {
  width: auto;
  overflow: visible;
  font: inherit;
  border: none;
  line-height: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.btn:focus-visible {
  outline: none;
}

.btn.btn.disabled {
  opacity: 0.5;
}

.btn.disabled:hover {
  cursor: not-allowed;
}

.btnSmall {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  height: 28px;
  padding: 4px 8px;
}

.btnDefault {
  height: 32px;
  padding: 4px 10px;
}

.btn:hover {
  cursor: pointer;
}

.btnPrimary {
  background-color: var(--theme-blue);
  color: var(--neutral-white);
}
.btnPrimary:hover {
  background-color: var(--p-p65);
}
.btnPrimary:focus {
  background-color: var(--p-p70);
}
.btnPrimary:disabled {
  background-color: var(--p-p50);
}

.btnSecondary {
  background-color: var(--neutral-white);
  border: 1px solid var(--p-p50);
  color: var(--p-p50);
}
.btnSecondary:hover {
  background-color: var(--fill-selection-only);
  border-color: var(--p-p65);
}
.btnSecondary:focus {
  background-color: var(--fill-selection-only);
  border-color: var(--p-p70);
}
.btnSecondary:disabled {
  border-color: var(--p-p40);
}

.btnTertiary {
  background-color: var(--fill-selection-only);
  color: var(--text-primary);
  border: 1px solid var(--p-p10);
}
.btnTertiary:hover {
  border-color: var(--p-p10);
  background-color: var(--p-p10);
}
.btnTertiary:focus {
  background-color: var(--p-p25);
  border-color: var(--p-p10);
}
.btnTertiary:disabled {
  background-color: var(--fill-selection-only);
  border-color: var(--p-p10);
}

.iconOnlySmall {
  width: 28px;
  padding: 0;
  justify-content: center;
}
.iconOnlyDefault {
  width: 32px;
  padding: 0;
  justify-content: center;
}


/* Menu Button styles  */

.menus {
  z-index: 10;
  border-radius: 4px;
  background: var(--neutral-white);
  box-shadow: 0px 2px 8px 0px #12121214;
  border: 1px solid var(--stroke-border);
  min-width: 160px;
}

.menus:focus-visible {
  outline: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  color: var(--text-primary);
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  border-bottom: 1px solid var(--stroke-border);
}

.menu:hover {
  background-color: var(--fill-selection-only);
  cursor: pointer;
}

.menu.menuDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.menu:hover.menuDisabled {
  background: none;
}

.btnGrp {
  gap: 0;
  padding: 0;
  box-sizing: content-box;
}
.grpTextBtn {
  display: inline-block;
  padding: 4px 8px;
}

.grpIconBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 32px;
}

.btnAddonSmall {
  width: 30px;
  height: 28px;

}

.btnAddonPrimary {
  border-left: 1px solid var(--neutral-white);
}

.btnAddonSecondary {
  border-left: 1px solid var(--p-p50);
}

.btnAddonTertiary {
  border-left: 1px solid var(--p-p10);
}

