.box {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
}

.userImage {
  width: 32px;
  height: 32px;
  object-fit: cover;
  flex-shrink: 0;
  display: inline-block;
  border-radius: 4px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.usernameContainer {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.emailBox {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.userEmail {
  color: var(--text-secondary);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 230px;
}

.icon {
  width: 16px;
  height: 16px;
  display: none;
}

.icon > path {
  fill: var(--dark-d50);
}

.userDetails:hover .icon {
  display: block;
}

@media (max-width: 768px) {
  .userEmail {
    max-width: 180px;
  }
}
