.userChipContainer {
  display: flex;
  align-items: center;
  border-radius: var(--borderfull);
  width: fit-content;
}

.nonZeroState {
  gap: 16px;
  padding-right: 10px;
}

.zeroState {
  justify-content: center;
  padding: 2px 6px;
}

.userChipContainer.neutral {
  background-color: var(--dark-d10);
  color: var(--dark-d70);
}

.userChipContainer.default {
  background-color: var(--p-p10);
  color: var(--p-p70);
}

.userChipContainer.positive {
  background-color: var(--status-success-s10);
  color: var(--status-success-s70);
}

.userChipContainer.warning {
  background-color: var(--status-warning-w10);
  color: var(--status-warning-w70);
}

.userChipContainer.error {
  background-color: var(--status-error-e10);
  color: var(--status-error-e70);
}

.userChipContainer.highlight {
  background-color: var(--status-info-i10);
  color: var(--status-info-i70);
}

.userChipContainer.white {
  background-color: var(--neutral-white);
  color: var(--text-primary);
}

.userChipImageContainer {
  position: relative;
  display: flex;
}

.profileImage {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.firstImage {
  z-index: 10;
}

.secondImage {
  position: absolute;
  left: 10px;
}
