name: Publish to npm

on:
  push:
    tags:
      - "v*"
  pull_request:
    branches: ["*"]
env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Setup repo + install pnpm
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4   
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"
          cache: 'pnpm'
      - name: Install Packages
        run: pnpm install
      - name: Build
        run: pnpm run build
      - name: Publish Package
        run: npm publish --provenance --access public
      - name: slack - build success
        uses: act10ns/slack@v2.0.0
        with:
          status: ${{ job.status }}
          channel: '#alerts-deploys'
          message:
            'Charizard was successfully published to npm'
        if: success()
      - name: slack - build failed
        uses: act10ns/slack@v2.0.0
        with:
          status: ${{ job.status }}
          channel: '#alerts-deploys'
          message:
            'Charizard has failed to publish to npm'
        if: failure()

   